<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\CentenarMareaUnire\CentenarDB.mdf;Integrated Security=True"/>
		
	</connectionStrings>
	<appSettings>
		<add key="UsersPath" value="C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\CentenarMareaUnire\Resurse\utilizatori.txt"/>
		<add key="LectiiPath" value="C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\CentenarMareaUnire\Resurse\lectii.txt"/>
	</appSettings>
</configuration>